
<div class="content">
    <h3 class="title">Clique em um dos botões abaixo para entrar em contato: </h3>
    <div class="links">
        <a href="mailto:enzocampos@gmail.com" class="contactLink">
            <span nz-icon nzType="mail" nzTheme="outline"></span>
            E-mail
        </a>
        <a href="https://www.linkedin.com/in/enzo-campos-b54396228/" target="_blank" class="contactLink">
            <span nz-icon nzType="linkedin" nzTheme="outline"></span>
            Linkedin
        </a>
        <a href="https://github.com/EnzCampos" target="_blank" class="contactLink">
            <span nz-icon nzType="github" nzTheme="outline"></span>
            GitHub
        </a>
    </div>
</div>
